<div id="productInfo">
     {%- render 'bd-product-sections', product: product -%}
</div>
{% schema %}
  {
    "name": "Product Info Metafield",
    "settings": [],
"presets": [
      {
        "name": "Product Info Metafield",
        "category": "BD Custom"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
