
<div class="cstm_new_page">

  <div class="wrapper">

    <h2>{{ page.title }}</h2>

    <div class="rte">

      {{ page.content }}
      
    </div>
    
  </div>

</div>



{% schema %}
  {
    "name": "New Default Page",
    "settings": []
  }
{% endschema %}
